<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Badge</title>
    <style>
        @media screen {
            #impressionCarte{
                background-color: #fff;
                /*border: solid 1px #ccc;*/
                border-radius: 5px;
                margin-bottom: 20px;
            }
            .impression{
                width: 60%;
                border: solid 1px #ccc;
                height: 610px;
                border-radius: 10px;
            }
            .impression .camp{
                background-color: {{ scout.config_couleurTheme }};
                color: white;
                border-radius: 10px 10px 0 0;
            }
            .impression .camp .entete{
                font-weight: bold;
            }
            .identite{
                font-weight: bold;
                overflow: hidden;
                padding-top: 15px;
                text-align: center;
                white-space: nowrap;
                width: 97%;
                text-overflow: ellipsis;
            }
            .fonction{
                font-weight: bold;
                color: {{ scout.config_couleurTheme }};
            }
            .libelle{
                font-size: 0.9rem;
                color: #333;
                font-style: italic;
            }
            .matricule{
                font-weight: bold;
                font-size: 1.2rem;
                color: darkred;
            }
            .carte{
                font-weight: bold;
                font-size: 1.2rem;
                color: darkblue;
            }
            .sexe, .district, .groupe{
                font-weight: bold;
                font-size: 1.2rem;
            }
            .photo{
                margin: 10px 5px;
                border: solid 1px #cccccc;
                height: 200px;
            }
            .urgence{
                -webkit-print-color-adjust: exact;
                background-color: darkred;
                color: white;
            }
            .label-urgence{
                font-style: italic;
            }
            .contact-urgence{
                font-weight: bold;
                font-size: 1.1rem;
            }
            .cachet{
                font-size: 0.8rem;
                font-style: italic;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .commissaire{
                font-size: 0.9rem;
                padding: 0;
                margin: 0;
            }
            .mention{
                font-size: 0.75rem;
                font-style: italic;
                font-weight: bold;
            }
        }
        @media (max-width:768px){
            .impression{
                width: 100%;
                border: solid 1px #ccc;
                /*height: 610px;*/
                border-radius: 10px;
            }
        }
        @media print {
            #impressionCarte{
                background-color: #fff;
                border-radius: 5px;
            }
            .impression{
                width: 60%;
                border: solid 1px #ccc;
                height: 590px;
                border-radius: 10px;
                margin-left: 25px;
            }
            .impression .camp{
                background-color: {{ scout.config_couleurTheme }};
                -webkit-print-color-adjust: exact;
                color: white;
                border-radius: 10px 10px 0 0;
                width: 94%;
                margin-left: 15px;
            }
            .impression .camp .entete{
                font-weight: bold;
            }
            .identite{
                font-weight: bold;
                overflow: hidden;
                padding-top: 15px;
                text-align: center;
                white-space: nowrap;
                width: 90%;
                text-overflow: ellipsis;
            }
            .fonction{
                font-weight: bold;
                color: {{ scout.config_couleurTheme }};
                overflow: hidden;
                padding-top: 0;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .libelle{
                font-size: 0.9rem;
                color: #333;
                font-style: italic;
            }
            .matricule{
                font-weight: bold;
                font-size: 1.2rem;
                color: darkred;
            }
            .carte{
                font-weight: bold;
                font-size: 1.2rem;
                color: darkblue;
            }
            .sexe, .district, .groupe{
                font-weight: bold;
                font-size: 1.2rem;
            }
            .photo{
                border: solid 1px #cccccc;
                margin: 10px 5px 0 15px;
                padding-right: 10px;
                height: 200px;
            }
            .info{
                padding-left: 10px;
            }
            .urgence{
                -webkit-print-color-adjust: exact;
                background-color: darkred;
                color: white;
                width: 94%;
                margin-left: 15px;
            }
            .label-urgence{
                font-style: italic;
            }
            .contact-urgence{
                font-weight: bold;
                font-size: 1.1rem;
            }
            .logo{
                -webkit-print-color-adjust: exact;
            }
            .cachet{
                font-size: 0.8rem;
                font-style: italic;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .commissaire{
                font-size: 0.9rem;
                padding: 0;
                margin: 0;
            }
            .mention{
                font-size: 0.75rem;
                font-style: italic;
                font-weight: bold;
            }
        }
    </style>
</head>
<body style="background-color:rgba(204,204,255,0.26);">

<div class="container">

    <div class="row">
        <div class="col-12 text-center mb-3 mt-1">
            <a href="#" onclick="imprimer('impressionCarte')" class="btn btn-primary">Imprimer</a>
            <a href="javascript:history.go(-1)" class="btn btn-outline-danger">Retour</a>
        </div>
    </div>

    <div class="row" id="impressionCarte">
        <div class="col-sm-12 col-md-7 impression">
            <div class="row">
                <div class="col-sm-12 camp text-center">
                    <h1 class="entete">{{ scout.activite|upper }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="identite text-center">{{ scout.identite }}</h3>
                    <h5 class="fonction text-center">{{ scout.fonction }}</h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-5 col-sm-4">
                    <div class="row">
                        <div class="col-11 col-sm-11 photo text-center">Photo</div>
                    </div>
                </div>
                <div class="col-7 col-sm-8 info">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="libelle">Matricule :</span>
                            <span class="matricule">{{ scout.matricule }}</span>
                        </div>
                        <div class="col-sm-12">
                            <span class="libelle">Carte scoute N° :</span>
                            <span class="carte">{{ scout.carte }}</span>
                        </div>
                        <div class="col-sm-12">
                            <span class="libelle">Sexe :</span>
                            <span class="sexe">{{ scout.sexe }}</span>
                        </div>
                        <div class="col-sm-12">
                            <span class="libelle">District :</span> <br>
                            <span class="district">{{ scout.district }}</span>
                        </div>
                        <div class="col-sm-12">
                            <span class="libelle">Groupe :</span> <br>
                            <span class="groupe">{{  scout.groupe }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12 col-sm-12 urgence text-center">
                    <span class="label-urgence">En cas d'urgence :</span>
                    <span class="contact-urgence">{{ scout.urgence }} </span>({{scout.parent|title}})
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12 col-sm-12 text-center logo">
                    <img src="abidjan.png" alt="" width="120">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-sm-12 text-center">
                    <div class="cachet">Cachet et signature</div>
                    <div class="commissaire">Commissaire Régional</div>
                    <div class="mt-1 mention">Cette carte n'est valable que pendant la durée du camp et sur le site dudit.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 text-center mb-3 mt-1">
            <a href="#" onclick="imprimer('impressionCarte')" class="btn btn-primary">Imprimer</a>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script>
    function imprimer(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
</body>
</html>