{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12 mt-5">
                    <div class="page-title-box">
                        <h4 class="page-title">Liste des inscrits</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h5 class="header-title mb-3 mt-0">Derniers inscrits</h5>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Nom</label>
                                        <input type="text" value="{{ paiement.nom }}" class="form-control" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Prenoms</label>
                                        <input type="text" class="form-control" value="{{ paiement.prenoms }}" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-5">
                                        <label for="">Date de naissance</label>
                                        <input type="text" class="form-control" value="{{ paiement.dateNaissance }}" readonly>
                                    </div>
                                    <div class="col-md-7">
                                        <label for="">Lieu de naissance</label>
                                        <input type="text" class="form-control" value="{{ paiement.lieuNaissance }}" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="">Carte</label>
                                        <input type="text" class="form-control" value="{{ paiement.carte }}" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Matricule">Matricule</label>
                                        <input type="text" class="form-control" value="{{ paiement.matricule }}" readonly>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label for="">Groupe</label>
                                        <input type="text" class="form-control" value="{{ paiement.groupe.paroisse }}" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Matricule">ID Transaction</label>
                                        <input type="text" class="form-control" value="{{ paiement.idTransaction }}" readonly>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h5 class="header-title mb-3 mt-O">Enregistrement</h5>
                            <div class="mt-5">
                                {{ include('correction/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.3.1/dt-1.10.25/b-1.7.1/b-html5-1.7.1/datatables.min.css"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.3.1/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/datatables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#liste').DataTable({
                //"ajax": "data.txt",
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });
        } );
    </script>
{% endblock %}