{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Système Integré des Camps de region{% endblock %}

{% block body %}
    <div class="wrapper dashborad-h">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Tableau de bord</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-2">
                    <div class="card bg-warning m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-account-multiple-plus"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  louveteau|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">Louveteaux</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-success m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-account-multiple-plus"></i>
                                    </div>
                                </div>
                                <div class="col-8 text-center ml-auto align-self-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  eclaireur|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">Eclaireurs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-warning m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round ">
                                        <i class="mdi mdi-account-multiple-plus"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  cheminot|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">Cheminots</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-danger m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-account-multiple-plus"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{  routier|number_format(0,'','.') }}</h5>
                                        <p class="mb-0">Routiers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-secondary m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round ">
                                        <i class="mdi mdi-account-multiple-plus"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{ jeunes|number_format(0,'','.') }}</h5>
                                        <p class="mb-0 ">Jeunes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-2">
                    <div class="card bg-dark m-b-30">
                        <div class="card-body">
                            <div class="d-flex row">
                                <div class="col-3 align-self-center">
                                    <div class="round">
                                        <i class="mdi mdi-account-multiple-plus"></i>
                                    </div>
                                </div>
                                <div class="col-8 ml-auto align-self-center text-center">
                                    <div class="m-l-10 text-white float-right">
                                        <h5 class="mt-0 round-inner">{{ adultes|number_format(0,'','.') }}</h5>
                                        <p class="mb-0">Adultes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xl-8">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <canvas id="myChart" height="150"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4">
                    <div class="card m-b-30">
                        <div class="card-body new-user">
                            <h5 class="header-title mb-3 mt-0">Dernières inscriptions</h5>
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">participants</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for participant in participants|slice(0,4) %}
                                        <tr>
                                            <td>
                                                <img class="rounded-circle" src="{{ absolute_url(asset('/backoffice/images/avatar.png')) }}" alt="participant" width="40"> </td>
                                            <td>
                                                <a href="javascript:void(0);">{{ participant.nom|upper }} {{ participant.prenom|title }}</a> <br>
                                                <span style="font-style:italic;">{{ participant.fonction|title }}</span>
                                                <br>
                                                <span style="font-size: 0.7rem; font-weight:bold;">{{ participant.district }}</span>
                                                <br>
                                                <span class="badge badge-success" style="font-size: 0.7rem;">{{ participant.created|date('d-m-Y H:i:s') }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for district in regions %} '{{ district.nom }}', {% endfor %}
                ],
                datasets: [{
                    label: '# participants',
                    data: [{% for district in regions %} {{ district.participant }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.5)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}