{% extends 'base.html.twig' %}

{% block title %}Gestionnaire{% endblock %}

{% block body %}
    <h1>Gestionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gestionnaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ gestionnaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ gestionnaire.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ gestionnaire.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_gestionnaire_index') }}">back to list</a>

    <a href="{{ path('admin_gestionnaire_edit', {'id': gestionnaire.id}) }}">edit</a>

    {{ include('admin_gestionnaire/_delete_form.html.twig') }}
{% endblock %}
