<div class="container">
    <a class="navbar-brand brand-logo mr-4" href="{{ absolute_url(path('yakro_index')) }}">
        <img src="{{ absolute_url(asset('/assets/fontend/images/region/yakro_light.png')) }}" class="img-fluid logo-light" alt="" width="150">
        <img src="{{ absolute_url(asset('/assets/fontend/images/region/yakro_dark.png')) }}" class="img-fluid logo-dark" alt="" width="150">
    </a>
    <div class="navbar-collapse collapse justify-content-end mr-3" id="navbarCollapse">
        <ul class="navbar-nav navbar-center">
            <li class="nav-item active">
                <a href="{{ absolute_url(path('yakro_index') )}}" class="nav-link text-white text-uppercase">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="#participation" class="nav-link text-white transition text-uppercase">Je participe</a>
            </li>
            <li class="nav-item">
                <a href="{{ absolute_url(path('app_badge_matricule', {'regionSlug': region.slug})) }}#badge" class="nav-link text-white transition text-uppercase">Mon Badge</a>
            </li>
        </ul>
    </div>
    <div class="contact_btn">
        <a href="{{ absolute_url(path('app_badge_matricule', {'regionSlug': region.slug})) }}#badge" class="btn theme-btn text-capitalize d-flex justify-content-center align-items-center">Mon Badge</a>
        <button class="navbar-toggler ml-2 p-0 mb-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
    </div>
</div>